---
const {
  size = 24,
  title,
  class: className,
  variant = "open",
  ...attrs
} = Astro.props as {
  size?: number;
  title?: string;
  class?: string;
  variant?: "open" | "close";
};
---

<svg
  width={size}
  height={size}
  viewBox="0 0 24 24"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  stroke="currentColor"
  stroke-width="2"
  stroke-linecap="round"
  stroke-linejoin="round"
  class={className}
  aria-hidden={title ? "false" : "true"}
  role="img"
  {...attrs}
>
  {title && <title>{title}</title>}
  {variant === "open" ? (
    <>
      <line x1="3" x2="21" y1="6" y2="6" />
      <line x1="3" x2="21" y1="12" y2="12" />
      <line x1="3" x2="21" y1="18" y2="18" />
    </>
  ) : (
    <>
      <path d="M18 6 6 18" />
      <path d="m6 6 12 12" />
    </>
  )}
</svg>
